<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/homeStyle.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="background">
      <div class="contentForm">

        
          <% articles.map(article =>{ %>
            <div class="divBox">
            <% article.image %>
            <img src="<%= article.image %>"/>
            <a href="<%=article.titleURL %>"><%= article.title %></a>            
          </div>
          <% }); %> 
        


      </div>
    </div>
  </body>
</html>
