* {
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)),
    url("4b0ea8b31d64f25821c381e376ea6901.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
}

.contentForm {
  border: 3px solid;
  width: 1250px;
  height: 600px;
  margin: 3% auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.divBox {
  text-align: center;
  width: 300px;
  height: 300px;
  border: 1px rgba(0,200,225 , 1) solid;
  border-radius: 5px;
  overflow: hidden;
}

img{
  width: 280px;
  height: 200px;
  border-radius: 25px;
}

a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}
a:link {
  color : rgb(0, 80, 80);
  text-decoration-line: none;
  
}
a:visited {
  color : rgb(44, 141, 52);
}

